/* #new-todo-control.new-todo-control {
  border-left: none;
  border-right: none;
  border-top: none;
}

#new-todo-control.new-todo-control:focus {
  box-shadow: none;
  border-color: var(--app-primary);;
} */

#new-todo-control ~ .spinner-border {
  border-color: var(--app-primary);
  border-right-color: transparent;
  position: absolute;
  right: 1.6rem;
  top: 2rem;
  z-index: 2;
}