.task-tracker-list-item {
  --default-icon-color: #ddd;
}

.btn-mr-icon .mr-icon {
  color: var(--default-icon-color);
  transition: color 100ms ease-in-out;
}

.btn-mr-icon:hover .mr-icon {
  color: var(--app-primary);
}
