:root {
  --app-primary: #d187ff;  
}

.mrocket-app {
  display: block;
  height: 100vh;
  background-color: #fafafa;
}

.mrocket-app .btn {
  border: none;
}

.mrocket-app .btn-white {
  background: #fff;
}

.mrocket-app .alert-white {
  background-color: #fff;
}

.mrocket-app .bg-app-primary {
  background-color: var(--app-primary) !important;
}

.mrocket-app .text-app-primary {
  color: var(--app-primary) !important;
}