.mrocket-app {
  display: block;
  height: 100vh;
  background-color: #fafafa;
}

.mrocket-app .btn {
  border: none;
}

.mrocket-app .alert-white {
  background-color: #fff;
}

.mrocket-app .bg-info {
  background-color: #d187ff !important;
}